.container {
  display: flex;
  background-color: #001524;
  flex-direction: column;
  padding-bottom: 50px;
}

.title {
  color: #fff;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 30px;
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
}

.videoFrame {
  width: 100%;
  height: 100%;
}

.videoContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.responsiveIframe {
  border: 0;
  width: 100%;
  height: 240px;
}

@media screen and (min-width: 480px) {
  .videoFrame {
    width: 426px;
    height: 240px;
    margin: 10px;
  }
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .videoContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1300px;
  }
}
